@using DeskBookingSystem.ViewModels
@model GroupedDeskViewModel

<form asp-action="FilterByLocation" method="post">
    <div class="form-group">
        @Html.Label("Search by location")
        @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Location, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Filter</button>
    </div>
</form>
<a href="@Url.Action("Index", "Dashboard")" class="btn btn-primary">Go back</a>